@if (author()) {
  <div
    #scroll
    vScroll
    (scrollEnding)="feed.nextData()"
    class="flex flex-col h-full overflow-hidden hover:overflow-y-auto"
  >
    <div
      #authorCard
      class="flex flex-col"
    >
      <avatar
        [src]="author().banner"
        (click)="dialogService.openImage([{fullsize: author().banner, thumb: undefined, alt: undefined}], 0)"
        class="w-full aspect-[3_/_1] cursor-pointer"
      />

      <div
        class="relative h-0 w-full"
      >
        <avatar
          [src]="author().avatar"
          (click)="dialogService.openImage([{fullsize: author().avatar, thumb: undefined, alt: undefined}], 0)"
          class="h-18 w-18 absolute -top-9 left-2 border-[0.25rem] border-bg !box-content cursor-pointer"
        />
      </div>

      <div
        class="flex w-full h-8 mt-2 px-3 justify-end gap-2"
      >
        <button
          (click)="addColumn()"
          title="Add as column"
          class="btn-secondary p-0 h-full w-8 flex items-center"
        >
          <span
            class="material-icons !text-2xl h-7.5 w-8"
          >add</span>
        </button>

        <button-follow
          [author]="author()"
        />
      </div>

      <span
        class="text-2xl font-bold mt-2 ml-3"
      >{{author() | displayName}}</span>

      @if (author().displayName) {
        <span
          class="ml-3 text-primary/50"
        >{{'@' + author().handle}}</span>
      }

      <div
        class="flex ml-3 mt-2 gap-4"
      >
        <a
          class="cursor-pointer hover:underline"
        >
          <span
            class="font-semibold"
          >{{author().postsCount}}</span>
          <span
            class="text-primary/50"
          >&#8196;posts</span>
        </a>
        <a
          class="cursor-pointer hover:underline"
        >
          <span
            class="font-semibold"
          >{{author().followersCount}}</span>
          <span
            class="text-primary/50"
          >&#8196;followers</span>
        </a>
        <a
          class="cursor-pointer hover:underline"
        >
          <span
            class="font-semibold"
          >{{author().followsCount}}</span>
          <span
            class="text-primary/50"
          >&#8196;follows</span>
        </a>
      </div>

      <rich-text
        [text]="author().description"
        class="text-sm px-3 mt-2"
        [class.line-clamp-3]="!expandBio()"
      />

      <a
        (click)="expandBio.set(!expandBio())"
        class="w-fit ml-3 text-primary/50 cursor-pointer hover:underline"
      >{{ expandBio() ? 'Show less' : 'Show more'}}</a>

      @if (author().viewer.knownFollowers) {
        <a
          class="w-fit ml-3 mt-3 text-primary/50 cursor-pointer hover:underline"
        >{{author().viewer.knownFollowers.count}} followers you know</a>
      }
    </div>

    <div
      #selector
      class="relative h-0 mt-2"
    ></div>
    <div
      class="flex w-full h-10 sticky top-0 z-1 bg-bg"
    >
      <button
        (click)="setFilter('posts_no_replies')"
        class="btn-secondary border-0 border-b border-b-primary/10 flex flex-1 items-center justify-center"
        [ngClass]="{'!border-b-primary font-semibold': filter() == 'posts_no_replies'}"
      >posts</button>
      <span
        (click)="setFilter('posts_with_replies')"
        class="btn-secondary border-0 border-b border-b-primary/10 flex flex-1 items-center justify-center"
        [ngClass]="{'!border-b-primary font-semibold': filter() == 'posts_with_replies'}"
      >replies</span>
      <span
        (click)="setFilter('posts_with_media')"
        class="btn-secondary border-0 border-b border-b-primary/10 flex flex-1 items-center justify-center"
        [ngClass]="{'!border-b-primary font-semibold': filter() == 'posts_with_media'}"
      >media</span>
    </div>

    <author-feed
      #feed
      [did]="author().did"
      [filter]="this.filter()"
    />
  </div>
} @else {
  <div
    class="h-full w-full flex justify-center mt-16 text-4xl"
  >
    <spinner/>
  </div>
}
