<div
  #feed
  class="w-full h-full min-h-0 flex flex-col margin-[0_auto] overflow-hidden hover:overflow-y-auto transition items-center"
  vScroll
  (scrollEnding)="nextData(); manageRefresh();"
  (scrollTop)="manageRefresh();"
>
  @if (notifications) {
    @for (notification of notifications; track notification.uuid) {
      @if (notification | isPostNotification) {
        <post-card
          [post]="notification.post()"
          (postChange)="notification.post.set($event)"
          (click)="dialogService.openThread(notification.post().uri)"
          (onEmbedRecord)="dialogService.openRecord($event)"
          class="cursor-pointer hover:bg-primary/2 w-full px-3 pt-3 pb-1"
        />
      } @else {
        <notification-card
          [notification]="notification"
          (click)="openNotification(notification)"
          class="cursor-pointer hover:bg-primary/2 w-full p-3"
        />
      }

      <divider/>
    }
  } @else {
    <div
      class="h-full w-full flex justify-center mt-16 text-4xl"
    >
      <spinner/>
    </div>
  }
</div>
