<div
  class="flex flex-col h-full w-full"
>
  <div
    class="flex h-9 w-full border-b shrink-0 group"
  >
    <span
      (click)="feed.scrollToTop()"
      class="bg-primary text-bg text-xl font-medium flex items-center px-3 lowercase font-mono cursor-pointer"
    >{{column().title}}</span>

    <button
      (click)="showSettings.set(!showSettings())"
      class="btn-secondary border-b-0 border-l-0 p-0 w-9 flex items-center justify-center invisible group-hover:visible"
      [class.visible]="showSettings()"
      [class.active]="showSettings()"
    >
      <span
        class="material-icons h-6 !text-2xl -translate-y-[0.15rem] "
      >settings</span>
    </button>
  </div>

  @if (showSettings()) {
    <div
      class="relative h-0 w-full"
    >
      <div
        class="absolute top-0 left-0 z-1 w-full p-3 flex flex-col bg-bg border-b border-primary"
      >
        <ng-container
          [ngTemplateOutlet]="settings"
        />
      </div>
    </div>
  }

  <div
    class="flex-1 min-h-0"
  >
    <timeline-feed
      #feed
      [groupedPostOptions]="column().options"
      class="block h-full"
    />
  </div>
</div>

<ng-template
  #settings
>
  <span
    class="font-bold"
  >> filtering</span>

  <button
    (click)="updateFiltering('hideReplies', !column().options.hideReplies); feed.initData()"
    class="h-fit w-fit flex items-center gap-2 cursor-pointer group mt-1 pb-1"
  >
    <div
      class="h-3 w-3 p-0 border border-primary"
      [class.bg-primary]="column().options.hideReplies"
    ></div>
    <span
      class="group-hover:underline"
    >hide all replies</span>
  </button>

  <button
    (click)="updateFiltering('hideUnfollowedReplies', !column().options.hideUnfollowedReplies); feed.initData()"
    class="h-fit w-fit flex items-center gap-2 cursor-pointer group pb-1"
  >
    <div
      class="h-3 w-3 p-0 border border-primary"
      [class.bg-primary]="column().options.hideUnfollowedReplies"
    ></div>
    <span
      class="group-hover:underline"
    >hide unfollowed replies</span>
  </button>

  <button
    (click)="updateFiltering('hideReposts', !column().options.hideReposts); feed.initData()"
    class="h-fit w-fit flex items-center gap-2 cursor-pointer group pb-1"
  >
    <div
      class="h-3 w-3 p-0 border border-primary"
      [class.bg-primary]="column().options.hideReposts"
    ></div>
    <span
      class="group-hover:underline"
    >hide reposts</span>
  </button>

</ng-template>
