<div
  #feed
  class="w-full h-full min-h-0 flex flex-col margin-[0_auto] overflow-hidden hover:overflow-y-auto transition items-center"
  vScroll
  (scrollEnding)="nextData(); manageRefresh();"
  (scrollTop)="manageRefresh();"
>
  @if (posts) {
    @for (group of posts; track group.uuid) {
      @for (post of group.thread; track post.uuid; let i = $index) {
        <post-card
          [post]="post.post()"
          [reply]="group.thread.length == 1 ? post.reply : undefined"
          [reason]="post.reason"
          (postChange)="post.post.set($event)"
          (click)="dialogService.openThread(post.post().uri)"
          (onEmbedRecord)="dialogService.openRecord($event)"
          [parent]="group | postCardParentPipe: i"
          [grandParent]="group | postCardGrandParentPipe: i"
          class="cursor-pointer hover:bg-primary/2 w-full px-3 pb-1"
          [ngClass]="{
            'pt-3': i == 0,
            'pt-2': i > 0
          }"
        />
      }

      <divider
      />
    }
<!--  } @else {-->
<!--    <div-->
<!--      class="h-full w-full flex items-center justify-center"-->
<!--    >-->
<!--      <p-progress-spinner-->
<!--        class="h-12"-->
<!--        strokeWidth="5"-->
<!--        [style]="{height: '3rem', width: '3rem'}"-->
<!--      />-->
<!--    </div>-->
  }
</div>

<ng-template
  #onePost
  let-thread="thread"
>
  <post-card
    [post]="thread[0].post()"
    [reply]="thread[0].reply"
    [reason]="thread[0].reason"
    (postChange)="thread[0].post.set($event)"
    (click)="dialogService.openThread(thread[0].post().uri)"
    (onEmbedRecord)="dialogService.openRecord($event)"
    class="cursor-pointer hover:bg-primary/2 w-full px-3 pt-3 pb-1"
  />
</ng-template>

<ng-template
  #twoPosts
  let-thread="thread"
>
</ng-template>
