@if (loadReady()) {
  <div
    #scroll
    class="flex flex-col h-full overflow-y-auto"
  >
    @for (parent of parents(); track $index) {
      @if ((parent | isFeedDefsNotFoundPost) || (parent | isFeedDefsBlockedPost)) {
        <ng-container
          [ngTemplateOutlet]="notPostView"
          [ngTemplateOutletContext]="{post: parent}"
        />
      } @else {
        <post-card
          [post]="parent()"
          (postChange)="parent.set($event)"
          (click)="dialogService.openThread(parent().uri, true)"
          (onEmbedRecord)="dialogService.openRecord($event, true)"
          class="cursor-pointer hover:bg-primary/2 w-full px-3 pt-3 pb-1"
          parent
        />
      }
    }

    <post-card-detail
      #mainCard
      [post]="post()"
      class="block p-3"
    />

    @for (reply of replies(); track reply.uuid) {
      <divider/>

      @for (child of reply.thread; track child.uuid; let i = $index) {
        <post-card
          [post]="child.post()"
          (postChange)="child.post.set($event)"
          (click)="dialogService.openThread(child.post().uri, true)"
          (onEmbedRecord)="dialogService.openRecord($event, true)"
          class="cursor-pointer hover:bg-primary/2 w-full px-3 pt-3 pb-1"
          [parent]="i !== reply.thread.length - 1"
        />
      }
    }
  </div>
} @else {
  <div
    class="h-full w-full flex justify-center mt-16 text-4xl"
  >
    <spinner/>
  </div>
}

<ng-template
  #notPostView
>

</ng-template>
