<div
  class="flex flex-col gap-4 items-center justify-center absolute top-[1rem] left-[5rem] h-[calc(100%_-_4rem)] w-[calc(100%_-_10rem)] pointer-events-none"
  [class]="{'h-[calc(100%_-_4rem)]': images.length > 1, 'h-[calc(100%_-_2rem)]': images.length == 1}"
>
  <a
    (click)="$event.stopPropagation()"
    [href]="images[index].fullsize"
    target="_blank"
    class="relative w-auto h-auto max-w-[calc(100%_-_10rem)] max-h-[calc(100%_-_4rem)] min-h-0 outline-none pointer-events-auto cursor-pointer"
  >
    <img
      [src]="images[index].fullsize"
      [alt]="images[index].alt"
      class="w-auto h-auto max-w-full max-h-full"
    />
  </a>

  @if (images[index].alt) {
    <span
      class="bg-primary text-bg py-2 px-3 pointer-events-auto"
    >{{ images[index].alt }}</span>
  }
</div>

@if (images.length > 1) {
  <button
    class="flex items-center justify-center absolute h-12 w-12 left-[1rem] top-[50%] -translate-y-[50%] btn-primary"
    (click)="prevImage()"
  >
  <span
    class="material-icons !text-4xl"
  >chevron_left</span>
  </button>

  <button
    class="flex items-center justify-center absolute h-12 w-12 right-[1rem] top-[50%] -translate-y-[50%] btn-primary"
    (click)="nextImage()"
  >
  <span
    class="material-icons !text-4xl"
  >chevron_right</span>
  </button>

  <div
    class="absolute bottom-[1rem] left-[50%] -translate-x-[50%] flex gap-2"
  >
    @for (image of images; track $index) {
      <button
        class="h-4 w-4 p-0 bg-bg border border-primary"
        [class.bg-primary]="$index == index"
        [class.cursor-pointer]="$index !== index"
        (click)="index = $index"
      ></button>
    }
  </div>
}
