<div
  class="flex h-full w-full p-4 overflow-hidden"
>
  <sidebar/>
<!--  <sidebar-->
<!--    (onProfile)="dialogService.openAuthor($event)"-->
<!--    (onSearch)="dialogService.openSearch()"-->
<!--    (onFeeds)="dialogService.openLikedFeeds()"-->
<!--    (onPost)="postService.createPost()"-->
<!--  />-->

<!--  <div-->
<!--    class="relative flex-1 overflow-hidden"-->
<!--  >-->
<!--    <deck-->
<!--      class="relative flex w-full h-full max-h-full min-h-0 p-4 overflow-x-auto"-->
<!--    >-->
<!--    </deck>-->
<!--  </div>-->
  <div
    class="flex flex-col flex-1 min-w-0"
  >
    <deck
      class="flex-1 min-h-0 min-w-0 border-b border-primary"
    />
    @if (postService.postCompose()) {
      <post-composer
        class="shrink-0"
      />
    }
  </div>
  <auxbar/>
</div>
