<div
  class="h-full w-xs flex flex-col"
  [class.!w-lg]="dialogService.auxPanes().length"
>
  <div
    #topBar
    class="flex h-9 w-full shrink-0"
    [ngClass]="{'border-b border-primary': dialogService.auxPanes().length}"
  >
    @if (dialogService.auxPanes().length) {
      @if (dialogService.auxPanes().length > 1) {
        <button
          (click)="dialogService.closeAuxPane()"
          class="btn-primary border-b-0 font-black text-lg"
        ><</button>
      }

      <span
        class="bg-primary text-bg text-xl font-medium flex items-center p-3"
      >
        @let pane = dialogService.auxPanes()[0];
        @if (pane | isAuxPaneThread) {
          thread view
        } @else if (pane | isAuxPaneAuthor) {
          &commat;{{pane.handle}}
        } @else if (pane | isAuxPaneSearch) {
          @if (pane.query) {
            search: {{pane.query}}
          } @else {
            search
          }
        } @else if (pane | isAuxPaneGenerator) {
          {{pane.generator.displayName}}
        }
      </span>

      @if (dialogService.auxPanes().length > 1) {
        <button
          (click)="showDropdown.set(!showDropdown())"
          [class.active]="showDropdown()"
          class="h-9 w-9 text-xl font-semibold border border-primary hover:bg-primary/10 cursor-pointer"
        >
        <span
          class="material-icons !text-xl translate-y-[0.15rem]"
        >menu</span>
        </button>
      }

      <button
        (click)="dialogService.auxPanes.set([])"
        class="h-9 w-9 text-2xl font-semibold border border-primary hover:bg-primary/10 cursor-pointer ml-auto"
      >x</button>
    }
  </div>

  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="topBar"
    [cdkConnectedOverlayOpen]="showDropdown()"
    (detach)="showDropdown.set(false)"
    (overlayOutsideClick)="showDropdown.set(!showDropdown())"
  >
    <ul role="listbox" class="border border-primary bg-bg">
      @for (pane of dialogService.auxPanes() | slice: 1; track pane.uuid; let i = $index) {
        <li>
          <button
            (click)="dialogService.reorderAuxPane(pane.uuid); showDropdown.set(false)"
            class="btn-dropdown"
          >
            @if (pane | isAuxPaneThread) {
              thread
            }
            @if (pane | isAuxPaneAuthor) {
              {{'@' + pane.handle}}
            } @else if (pane | isAuxPaneSearch) {
              @if (pane.query) {
                search: {{pane.query}}
              } @else {
                search
              }
            } @else if (pane | isAuxPaneGenerator) {
              {{pane.generator.displayName}}
            }
          </button>
        </li>
      }
    </ul>
  </ng-template>

  <div
    class="relative flex flex-col flex-1 min-h-0 min-w-0 border-l border-primary"
  >
    <span
      class="text-lg font-bold ml-3"
    >
      > trending topics
    </span>

    @for (topic of topics(); track topic.topic) {
      <span
        class="ml-3 mt-1"
      >{{topic.topic}}</span>
    }

    @if (dialogService.auxPanes().length) {
      <ng-container
        [ngTemplateOutlet]="auxPane"
      />
    }
  </div>

  <div
    class="relative h-0 w-full"
  >
    <logger
      class="absolute bottom-0 left-0 w-full z-"
    />
  </div>
</div>

<ng-template
  #auxPane
>
  @for (pane of dialogService.auxPanes(); track pane.uuid; let i = $index) {
    <div
      class="absolute h-full w-full bg-bg"
      [class.hidden]="i"
    >
      @if (pane | isAuxPaneThread) {
        <thread-view
          [uri]="pane.uri"
        />
      } @else if (pane | isAuxPaneAuthor) {
        <author-view
          [did]="pane.did"
        />
      } @else if (pane | isAuxPaneSearch) {
        <search-view
          [(query)]="pane.query"
        />
      } @else if (pane | isAuxPaneGenerator) {
        <generator-view
          [generator]="pane.generator"
        />
      }
    </div>
  }
</ng-template>
